.bodyCad {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

/* Container do formulário */
.formContainer {
  width: 100%;
  max-width: 600px; /* Aumentar o tamanho máximo do container */
  background-color: #e2e4ebfd; /* Cor de fundo do container */
  padding: 40px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas mais retangulares */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Sombra sutil */
  text-align: inherit;
}

/* Título do formulário */
.logo {
  background-image: url("@/assets/images/LOGO.png");
  background-size: contain; /* Mantém a proporção da imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-position: center;
  height: 60px; /* Ajuste conforme necessário */
  margin: 20px 0; /* Margem superior e inferior */
}

/* Estilos do formulário */
.formCad {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Alinha os inputs à largura do container */
  gap: 1rem; /* Aumenta a margem entre os campos */
}

.fullBox {
}

.labelCad {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.bodyCad p {
  margin-top: 10px; /* Margem superior para separar os parágrafos de outros elementos */
  text-align: center; /* Alinha o texto do parágrafo ao centro */
}

a {
  color: #e60000; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  text-align: center; /* Alinha o texto do link ao centro */
}

a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
}
