@import url('../../../assets/styles/color_pallete.css');

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.headerTop {
  margin-bottom: 10px;
  width: 100%;
}

.headerTop h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  border-bottom: 3px solid var(--red);
  text-align: center;
}

@media (max-width: 768px) {
  .headerTop h2,
  .tituPag h2 {
    font-size: 1.1rem;
  }
}

.tituPag {
  width: 100%;
}

.tituPag h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  border-bottom: 3px solid var(--red);
}

.tituPag h3 {
  color: black;
  text-align: center;
}

.history {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f9f9f9;
  border-radius: 8px;
}

.btnHistory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  background-color: var(--white);
  border: 1.5px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-weight: 600;
  color: #333;
  flex-wrap: wrap;
  font-size: x-small;

}

.btnHistory:hover {
  background-color: #e6f0ff;
  border-color: #007bff;
}

.selected {
  background-color: #d0e7ff;
  border-color: #0056b3;
  color: #003366;
  font-size: x-small;
}

.btnExcluir {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: x-small;
  color: #cc0000;
  margin-left: 10px;
  padding: 0;
  transition: color 0.3s;
}

.btnExcluir:hover {
  color: #ff3333;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 0;
  align-items: center;
  justify-content: space-between;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  width: 45%;
}


.filter select {
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
}

.textContent {
  width: 100%;
}

.textContent h3 {
  font-weight: bold;
  border-bottom: 2px solid lightgrey;
}

.content p {
  color: black;
}

.jogoItem {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.jogoItem p {
  border-bottom: none;
}

.relatory {
  width: 40%;
  padding: 10px;
  margin: 5px;
  background-color: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 12px;
  text-align: center;
  font-size: x-small;
  transition: background-color 0.3s, color 0.3s;
}

.relatory:hover {
  background-color: var(--white);
  color: var(--red);
}

@media (max-width: 768px) {
  .relatory {
    width: 100%;
    margin: 8px 0;
  }

  .textContent {
    margin: 20px 0 50px 0;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.ativo {
  background-color: #dff0ff;
  border: 2px solid #007bff;
  border-radius: 8px;
}


.topSection {
  background-color: var(--white);
  border-radius: 18px;
  margin-bottom: 1rem;
  width: 70vw;
  padding: 20px;
}

.topSection label{
  margin-bottom: 10px;
}

.bottomSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
  width: 70vw;
}

/* Gráfico ocupa ~65%, histórico ~35% */
.graphSection {
  flex: 2;
  min-width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  max-height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.historySection {
  flex: 1;
  min-width: 280px;
  max-height: 60vh;
  overflow-y: auto;
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container{
    width: 100%;
    max-height: 100vh;
    padding: 20px 0;
  }

  .topSection, .bottomSection, .historySection{
    width: 80vw;
  }

  .topSection{
    padding-top: 20px;
  }

  .selectGroup{
    width: 100%;
  }

  .buttons{
    gap: 0;
  }
}


