.navbar{
    width: max-content;
    margin: 20px;
    background-color: lightblue;
    flex-direction: column;
    border-radius: 18px;
    border: 5px solid rgba(255, 255, 255, 0.219);
    justify-self: center;
}

.navbar ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: min-content; 
    gap: 15px;
}

.navbar ul li{
    margin-bottom: 0; 
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar ul li span{
    color: white;
}

.navbar ul li button{
    background-color: transparent;
    border: 2px solid lightblue;
    border-radius: 12px;
    padding: 10px;
    width: max-content;
    color: white;
    transition: 0.5s;
}

.navbar ul li button:hover{
    border-color: lightcyan;
    transition: 0.5s;
}

.navbar ul li svg{
    margin-right: 10px;
}

.navbar ul li:last-child:hover svg{
    transform: rotate(360deg);
    transition: 0.5s;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  min-width: 350px;
}

.modal button{
    color: white;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.404);
    border-radius: 12px;
}

.modal h3{
    font-size: larger;
    border-bottom: 2px solid lightblue;
    width: 100%;
    font-weight: bold;
}

.modalOptions {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.modalOptions li {
    margin: 0.5rem 0;
    width: 100%;
}

.modalOptions li button{
    background-color: lightblue;
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid lightblue;
    text-align: left;
    transition: 0.5s;
}

.modalOptions li button:hover{
    border-color: lightslategray;
    transition: 0.5s;
}

.modalOptions li button svg{
    margin-right: 10px;
}

.ativo{
    background-color: white !important;
    border: 2px solid lightblue !important;
    color: lightblue !important;
    text-align: center !important;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.avatarIcon{
    color: white;
}

@media (max-width: 768px) {
.navbar{
    width: 67vw;
    margin: 30px 0 0 10px;
    justify-self: flex-start;
}

.navbar span{
    display: none;
}

.navbar ul li button svg{
    margin-right: 0;
}

.navbar ul li button{
    padding: 5px;
}

.avatar{
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin: 10px;
}
}

