.number {
  --size: 70px;

  display: grid;
  place-content: center;

  background-color: var(--clr-game-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-inline: auto;
  height: var(--size);
  width: var(--size);

  will-change: transform;

  color: var(--clr-game-foreground);
  font-size: var(--fs-600);
  transition:
    transform 0.3s,
    scale 0.3s,
    background-color 0.3s;

  &:active,
  &:hover,
  &:focus-within {
    scale: 1.25;
    cursor: pointer;
    background-color: var(--clr-game-hover);
    transition:
      scale 0.3s,
      background-color 0.3s;
    z-index: 3;
  }
}
