<<<<<<< HEAD
/* TODO: Find a better way to apply background color, currently not viable */
:root {
  --bg-color: dodgerblue;
  --fg-color-cor: navy;
  --container-color-cor: lightblue;
  --box-color-cor: #D9D9D9;
}

=======
>>>>>>> 5e1fc147aff1122ed12ac63c44b1b939ce9711d7
*::before,
*,
*::after {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  background-color: var(--bg-color);
}

.container {
  margin: auto;
  padding: 2rem;
  max-width: 60rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.infoArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 2rem;

  padding: 2rem;
  background-color: var(--box-color-cor);
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 2rem;

  .info {
    background-color: color-mix(in srgb, var(--box-color-cor), black 25%);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 15px;

  }

  .colorArea {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;

    background-color: var(--box-color-cor);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 15px;
    transition-duration: .5s;

    .square {
      height: 50px;
      width: 50px;
      border: 2px solid black;
      border-radius: 15px;
      margin: auto;
    }
=======
  margin: 0px;
}

.gameBody {
  padding-block: 2em;
  font-family: "Comic Neue";
  color: var(--clr-neutral-500);

  background-color: var(--clr-neutral-100);

  width: 100%;
  height: 100%;
}

.game {
  background-color: var(--clr-info);
  container-type: inline-size;
  margin: auto;
  width: min(800px, 100%);
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1em;
  font-weight: var(--fw-bold);
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-wrap-style: pretty;
}

.infoArea {
  --padding: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--padding);

  background-color: var(--clr-info-500);
  border: 1px solid var(--clr-neutral-500);
  border-radius: 1em;
  margin-bottom: 2em;
  padding: var(--padding);

  .info {
    background-color: var(--clr-neutral-200);
    border: 1px solid var(--clr-neutral-500);
    border-radius: 1em;
    padding: 2em;
  }
}

.colorArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding);
  justify-content: space-around;

  background-color: var(--clr-neutral-200);
  border: 1px solid var(--clr-neutral-500);
  border-radius: 1em;

  transition: background-color 500ms 100ms ease;

  &:hover,
  &:focus {
    background-color: var(--clr-neutral-300);
    transition-duration: 0.5s;
  }
}

.square {
  cursor: grab;
  z-index: 2;

  border: 1px solid black;
  border-radius: 1em;
  margin: auto;
  height: 4em;
  width: 4em;

  &:focus-within {
    cursor: move;
>>>>>>> 5e1fc147aff1122ed12ac63c44b1b939ce9711d7
  }
}

.cardGrid {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
=======
  grid-template-columns: repeat(3, minmax(100px, 25%));
  gap: 1em;
>>>>>>> 5e1fc147aff1122ed12ac63c44b1b939ce9711d7
  justify-content: space-around;
}

.card {
<<<<<<< HEAD
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
  max-width: 200px;
  margin: auto;

  background-color: var(--box-color-cor);
  padding: 1rem;
  border: 2px solid black;
  border-radius: 15px;

  .dropArea {
    background-color: color-mix(in srgb, var(--box-color-cor), black 25%);
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
  }
}
=======
  display: flex;
  flex-direction: column;
  /* grid-template-columns: subgrid; */

  background-color: var(--clr-neutral-200);
  border: 1px solid var(--clr-neutral-500);
  border-radius: 1em;
  padding: 0.5em;

  height: min(100px, 1fr);
  width: min(100px, 1fr);

  img {
    align-self: flex-start;
    width: 50%;
    display: block;
    object-fit: cover;
    margin: auto;
  }
}

.dropArea {
  align-self: flex-end;
  background-color: var(--clr-neutral-300);
  border: 1px solid var(--clr-neutral-500);
  border-radius: 1em;
  height: 100px;
  width: 100px;
  margin: auto;
}
>>>>>>> 5e1fc147aff1122ed12ac63c44b1b939ce9711d7
